

<form class="form-inline" *ngIf="!(authService.isLoggedIn())" >

    <div class="form-group">
        <label for="email"> Email : </label>
        <input class="form-control" name="email" #email>
    </div>

    <div class="form-group">
        <label for="password"> Password :</label>
        <input class="form-control" type="password" #password>
    </div>

    <a class="btn btn-default" (click)="login(email.value, password.value)">
        Submit</a>
</form>


<div class="well" *ngIf="(authService.isLoggedIn)" >
     Logged in as {{ authService.getDisplayName()}}
    <a href (click)="logout()" > Log Out</a>
</div>

<div class="alert alert-danger" role="alert" *ngIf="message" >
    {{message}}
</div> 