
<!-- Create a row for every person on the list -->
    <div *ngFor="let p of personList"
    [class.bg-info]="isSelected(p)"
        [class.text-white]="isSelected(p)" class="card">

      <div>
         
        <div class="row card-body" (click)='edit(p)'> 
            <div class="col card-title"> {{p.firstName}} </div>
            <div class="col"> {{p.lastName}}</div>
            <div class="col"> image here </div>
            </div>        
      </div>
    </div>
   
    <!-- If a person is selected add the ability to edit that person -->
    <app-form3 
    *ngIf="currentPerson"
    [person]="currentPerson" (personSubmitted) = "handlePersonSubmitted($event)" ></app-form3>

    <!-- If a person is slected add the ability to view that person in a routed component -->

    <div *ngIf="currentPerson">
      <a [routerLink]="['/person', currentPerson.id]" class="btn btn-lg btn-primary"> View details for {{currentPerson.firstName}} </a>
    </div>

    
  