<!--This content is to test the ng-bootstrap-->
<!-- <div class="jumbotron">
  <div class="container">
    <ngb-alert type="success" [dismissible]="false">
      Bootstrap is working!
    </ngb-alert>
  </div>
</div> -->


<div class="container">
  <header>
    <h1>
      Welcome to {{ title }}!
    </h1>

    <nav>
      <ul>
        <li><a routerLink="/form1">Go to Form1</a></li>
        <li><a routerLink="/ListPeople">Go to the second form</a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>