<form [formGroup]="form2" (ngSubmit)="onSubmit()" [class.alert-danger]="isTrumpNamed">

    <!-- First Name Input Group -->
    <div class="form-group">
        <label for="firstname"> First Name : </label>
        <input id="firstname" type="text" formControlName="firstName" class="form-control">

        <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" class="alert alert-danger">
            <div *ngIf="firstName.hasError('required')">First Name is required</div>
            <div *ngIf="firstName.hasError('minlength')">First name has a minimum length</div>
            <div *ngIf="firstName.hasError('pattern')">Letters a-z onlys</div>
        </div>
    </div>

    <!-- Second Name Input Group -->
    <div class="form-group">
        <label for="lastname">
            Last Name: </label>
        <input type="text" id="lastname" formControlName="lastName" class="form-control">
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form2.valid">Submit</button>


</form>



<!-- Just to demonstrate how the acutal form values can be accessed on the template -->
<p>{{form2.value['firstName']}} {{form2.value['lastName']}}</p>

<h4>{{firstName.value}}</h4>